body{
    background-color: rgb(226, 226, 226);
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.con h1{
    font-size: 70px;
    color: black;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
    padding: 8px;
    background-color: white;
}
span{
   
    color: rgb(255, 0, 0);
}
.con p{
    display: none;
    height:60px;
    width:100px;
    border:2px solid black;
    padding :8px;
    color:red;
    font-size:60px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
